/*.logo
{
position: relative;
top: 10%;
right: 15%;
}*/

body, header
{
    background-color: #d3ffe7;
    text-align: justify;
    font-family: 'Maven Pro', sans-serif;
    padding: 0 10vw;
}

#video, #subscribe
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-img
{
    height: 50px;
    width: 50px;
    border-radius:10px;
}

#header-title{
    
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* 
Navbar links
*/

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: grey;
}

li a
{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: #d3ffe7;
    color: black;
}

li a.active
{
    background-color: #d3ffe7;
    color: black;
}

/*
Youtube video
*/
iframe
{
    text-align: center;
}






